
{% for match in matches %}
    {% if match.first.id == firstId and match.second.id == secondId %}
        {% if match.completed %}
            {{ match.firstScore }}:{{ match.secondScore }}
        {% else %}
            <form action="{{ path('finish_match', {'id': tournament.id, 'matchId': match.id}) }}" class="form-inline" method="post">
                {% spaceless %}
                <input type="text" style="width: 40px;" class="form-control form-control-sm" name="firstScore">:
                <input style="width: 40px;"  type="text" class="form-control form-control-sm" name="secondScore">
                <input type="submit" class="btn btn-secondary btn-sm" value="OK">
                {% endspaceless %}
            </form>
        {% endif %}
    {% elseif match.first.id == secondId and match.second.id == firstId %}
        {% if match.completed %}
            {{ match.secondScore }}:{{ match.firstScore }}
        {% else %}
            <form action="{{ path('finish_match', {'id': tournament.id, 'matchId': match.id}) }}" class="form-inline" method="post">
                {% spaceless %}
                    <input type="text" style="width: 40px;" class="form-control form-control-sm" name="secondScore">:
                    <input style="width: 40px;"  type="text" class="form-control form-control-sm" name="firstScore">
                    <input type="submit" class="btn btn-secondary btn-sm" value="OK">
                {% endspaceless %}
            </form>
        {% endif %}
    {% endif %}
{% endfor %}